node_modules
npm-debug.log
.git
.gitignore
README.md
**/.env
**/.env.local
**/.env.*.local
**/.envrc
coverage
.nyc_output
.DS_Store
*.log
.vscode
.idea
dist
**/dist
build
**/build
.turbo
gcp-config.dev
**/node_modules
artifact-reader-key.json
cloudsql-key.json